
.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.form-item{
    padding: 3px 10px;
    float: left;
}

.vCenter {
    vertical-align: middle!important;
}


label.normal{
    font-weight:normal;
}